
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<div class="wrapper">
    <partial name="headerPartial" view-data="ViewData"/>

    <div class="body">
        <div class="accountHeader">
            @{
                if(ViewBag.ViewUser.UserID == ViewBag.CurrentUser.UserID) {
                    <div class="editLinks">
                        <a class="colorBtn" href="/account/color/@ViewBag.CurrentUser.UserID">Change Color</a>
                        <span> | </span>
                        <a class="editBtn" href="/account/edit/@ViewBag.CurrentUser.UserID">Edit</a>
                    </div>
                }
            }
            <img class="pic" src="~/images/defaultpic.jpg" alt="Users account profile picture">
            <div class="userInfo">
                <div class="userNameEdit">
                    <h1 class="accountGlow">@@@ViewBag.ViewUser.UserName</h1>
                </div>
                <h4>Name: </h4>
                <h2>@ViewBag.ViewUser.FirstName @ViewBag.ViewUser.LastName</h2>
                <h4>Bio: </h4>
                <p>@ViewBag.ViewUser.Bio</p>
                @{
                    <button class="btn button"><a href="/connections/@ViewBag.CurrentUser.UserID">@ViewBag.NumConn | Connections</a></button>
                }
                @{
                    if(ViewBag.sessionID != ViewBag.CurrentUser.UserID) {
                        <button class="btn btn-success"><a href="/addConnection/@ViewBag.CurrentUser/@ViewBag.ViewUser.UserID">Connect!</a></button>
                        //added href, now button works
                    }
                }
            </div>
        </div>

        <!-- <h3 class="activity">Activity</h3> -->
        <hr>
        <partial name="newsFeedPartial" view-data="ViewData"/>
    </div>
</div>

<script>
    var currentUser = '@(ViewBag.CurrentUser)';
    var colorRed = '@(ViewBag.CurrentUser.ColorRed)';
    var colorGreen = '@(ViewBag.CurrentUser.ColorGreen)';
    var colorBlue = '@(ViewBag.CurrentUser.ColorBlue)';
    $(document).ready(function() {
        $('.accountHeader').css('background', 'rgb(' + colorRed + ', ' + colorGreen + ', ' + colorBlue + ')');
        $('.accountHeader').css('background', 'radial-gradient( at center, #dce5ff, rgb(' + colorRed + ', ' + colorGreen + ', ' + colorBlue + ')');
        $(".accountHeader").mousemove(function(event) {
            var accountHeaderWidth = $(".accountHeader").width();
            var accountHeaderHeight = $(".accountHeader").height();
            var mouseXpercentage = Math.round(event.pageX / accountHeaderWidth * 100);
            console.log("posX: ", event.pageX);
            var mouseYpercentage = Math.round(event.pageY / accountHeaderHeight * 100);
            console.log("posY: ", event.pageY);
            $(".accountHeader").css('background', 'radial-gradient(at ' + mouseXpercentage + '% ' + mouseYpercentage + '%, #e2e2e2, rgb(' + colorRed + ', ' + colorGreen + ', ' + colorBlue + '))');
        })
    })
</script>




