@model List<User>

<!-- This code is for an individual user viewing their connections, and eventually viewing their profiles -->
<div class="wrapper">
    <partial name="headerPartial" view-data="ViewData"/>
    <div class="body">
        <div class="connectBox">
            <h2>Your Connections</h2> 
            @{
                if(ViewBag.allConn.Count > 0)
                {
                    foreach(User user in ViewBag.allConn)
                    {
                        <h4><a href="/account/@user.UserID">@user.FirstName @user.LastName</a></h4><br>
                    }
                }
                else
                {
                    <h4>Add some connections!</h4>
                }
            }
        </div>

        <div class="connectBox">
            <h2>People You Are Not Connected To</h2>
            @{
                if(ViewBag.notConn.Count > 0)
                {
                    foreach(User person in ViewBag.notConn)
                    {
                        if(ViewBag.pending.Contains(person))
                        {
                            <h4><a href="">@person.FirstName @person.LastName </a> Request Pending</h4><br>
                        }
                        else if(ViewBag.accept.Contains(person))
                        {
                            <h4><a href="">@person.FirstName @person.LastName</a></h4>
                            <button class="btn btn-success"><a href="/acceptConnection/@ViewBag.CurrentUser.UserID/@person.UserID">Accept Request</a></button>
                            <button class="btn btn-danger"><a href="/declineConnection/@ViewBag.CurrentUser.UserID/@person.UserID">Decline Request</a></button><br>
                        }
                        else
                        {
                            <h4><a href="">@person.FirstName @person.LastName</a></h4>
                            <button class="btn button"><a href="/addConnection/@ViewBag.CurrentUser.UserID/@person.UserID">Add Connection</a></button><br>
                        }
                    }
                }
                else
                {
                    <h4>You have added everyone!</h4>
                }
            }
        </div>
    </div>
</div>
